<footer class="footerTable"><hr>
    <div class="footerRow row py-5">
        <div class="formContent col-lg-4 col-md-4 col-sm-12">
            <div class="d-flex flex-column">
                <div class="d-flex align-content-center">
                    <img src='https://i.postimg.cc/wv80msj8/Hamburger.png' alt="..."/>
                    <h4 class="my-4">E&D</h4>
                </div>
                <p>Lorem ipsum dolor sit amet, consect
                    etur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore 
                    magna aliqua</p>
            </div>
        </div>
        <div class="formContent col-lg-4 col-md-4 col-sm-12">
            <div class="d-flex justify-content-around">
                <div class="d-flex flex-column">
                    <label class="footerLabel">Links</label>
                    <a href="#" class="navigater text-dark" >Home</a>
                    <a href="#aboutComponent" class="navigater text-dark">About</a>
                    <a href="#menuData" class="navigater text-dark">Menu</a>
                    <a href="#contactComponent" class="navigater text-dark">Contact</a>
                </div>
                <div class="d-flex flex-column">
                    <label class="footerLabel">Help</label>
                    <h5>Payment</h5>
                    <h5>Return</h5>
                    <h5>PrivacyPolicies</h5>
                </div>
            </div>
        </div>
        <div class="formContent col-lg-4 col-md-4 col-sm-12">
            <form class="emailFormFooter">
                <label class="footerLabel d-flex flex-column">NewSletter</label>
                <input class="my-2" type="text" placeholder="Enter Your Email Address" name="email">
            </form>
        </div>
    </div><hr>
    <div class="text-center">
        <label class="mt-2">2023 All rights reverved</label>
    </div>
</footer>