<div class="menu py-5" id="menuData">
    <div class="menuTitle">
        <h2>Our Popular Menu</h2>
        <div class="menuDetails mb-3">
            <p class="text-center">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                mollit anim id est laborum ex ea commodo consequat. Duis aute irure dolor in repr
                ehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        </div>
        <div class="filterBtn">
            <button class="filter"><div class="filterImg"><img src='https://i.postimg.cc/0Nbp9kHH/Hamburger-2.png' alt='...' width="30px"/></div><b>Burger</b></button>
            <button class="filter"><div class="filterImg"><img src='https://i.postimg.cc/ZYgBNWLT/Pizza-1.png' alt='...' width="30px"/></div><b>pizza</b></button>
            <button class="filter"><div class="filterImg"><img src='https://i.postimg.cc/WzfHNGRq/Soda.png' alt='...' width="30px"/></div><b>Drink</b></button>
            <button class="filter"><div class="filterImg"><img src='https://i.postimg.cc/4dpcNZr6/Dessert.png' alt='...' width="30px"/></div><b>Dessert</b></button>
        </div>
    </div>
    <div class="menuBottom">
        <div class="menuCard">
            <label>Spicy Chicken Burger</label>
            <p>Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit, sed do eiusmod tempor
                incididunt ut labore</p>
            <div class="menuBottomBtn">
                <div class="addCart"><img src='https://i.postimg.cc/4xC16fg9/Shopping-Cart.png' alt='...'/></div>
                <label><b><i class="fa-solid fa-dollar-sign"></i> 30</b></label>
            </div>
            <img class="foodImg" src="https://i.postimg.cc/2SyNCkVg/Ellipse-11.png" alt="..."/>
            <label class="wishlist"><i class="fa-regular fa-heart fs-3"></i></label>
        </div>
        <div class="menuCard">
            <label>Spicy Beef Burger</label>
            <p>Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit, sed do eiusmod tempor
                incididunt ut labore</p>
            <div class="menuBottomBtn">
                <div class="addCart"><img src='https://i.postimg.cc/4xC16fg9/Shopping-Cart.png' alt='...'/></div>
                <label><b><i class="fa-solid fa-dollar-sign"></i> 30</b></label>
            </div>
            <img class="foodImg" src="https://i.postimg.cc/cCjW6ZvZ/Ellipse-12.png" alt="..."/>
            <label class="wishlist"><i class="fa-regular fa-heart fs-3"></i></label>
        </div>
        <div class="menuCard">
            <label>Potato Burger</label>
            <p>Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit, sed do eiusmod tempor
                incididunt ut labore</p>
            <div class="menuBottomBtn">
                <div class="addCart"><img src='https://i.postimg.cc/4xC16fg9/Shopping-Cart.png' alt='...'/></div>
                <label><b><i class="fa-solid fa-dollar-sign"></i> 30</b></label>
            </div>
            <img class="foodImg" src="https://i.postimg.cc/zXyNRLSr/Ellipse-13.png" alt="..."/>
            <label class="wishlist"><i class="fa-regular fa-heart fs-3"></i></label>
        </div>
        <div class="menuCard">
            <label>Zinger Burger</label>
            <p>Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit, sed do eiusmod tempor
                incididunt ut labore</p>
            <div class="menuBottomBtn">
                <div class="addCart"><img src='https://i.postimg.cc/4xC16fg9/Shopping-Cart.png' alt='...'/></div>
                <label><b><i class="fa-solid fa-dollar-sign"></i> 30</b></label>
            </div>
            <img class="foodImg" src="https://i.postimg.cc/cL5XtHmV/Ellipse-14.png" alt="..."/>
            <label class="wishlist"><i class="fa-regular fa-heart fs-3"></i></label>
        </div>
        <div class="menuCard">
            <label>Spicy Chicken Burger</label>
            <p>Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit, sed do eiusmod tempor
                incididunt ut labore</p>
            <div class="menuBottomBtn">
                <div class="addCart"><img src='https://i.postimg.cc/4xC16fg9/Shopping-Cart.png' alt='...'/></div>
                <label><b><i class="fa-solid fa-dollar-sign"></i> 30</b></label>
            </div>
            <img class="foodImg" src="https://i.postimg.cc/QdBcPqQy/Ellipse-15.png" alt="..."/>
            <label class="wishlist"><i class="fa-regular fa-heart fs-3"></i></label>
        </div>
        <div class="menuCard">
            <label>Spicy Chicken Burger</label>
            <p>Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit, sed do eiusmod tempor
                incididunt ut labore</p>
            <div class="menuBottomBtn">
                <div class="addCart"><img src='https://i.postimg.cc/4xC16fg9/Shopping-Cart.png' alt='...'/></div>
                <label><b><i class="fa-solid fa-dollar-sign"></i> 30</b></label>
            </div>
            <img class="foodImg" src="https://i.postimg.cc/3xg2YxqX/Ellipse-16.png" alt="..."/>
            <label class="wishlist"><i class="fa-regular fa-heart fs-3"></i></label>
        </div>
    </div>
    <div class="buttonPosition d-flex gap-2 px-5">
        <button class="imageMoveBtn" type="button"><i class="fa-solid fa-arrow-left"></i></button>
        <button class="imageMoveBtn" type="button"><i class="fa-solid fa-arrow-right"></i></button>
    </div>
</div>