<div class="homepage row px-0">
    <div class="labels col-lg-6 col-md-12 col-sm-12 px-5">
        <div class="d-flex">
            <h2 class="fast">Fast</h2>
            <div class="foodDelivery">
                <h4 class="m-0">Food</h4>
                <h4 class="m-0">Delivery</h4>
            </div>
        </div>
        <p class="">Duis aute irure dolor in reprehenderit in voluptate 
            velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <div class="buttonGroup">
            <button class="orderButton btn btn-dark me-2">Order Now</button>
            <button class="watchButton btn"><div class="playButton"><i class="fa-solid fa-play fa-beat"></i></div>WatchVideo</button>
        </div>
        <div class="Category my-5 mx-3">
            <div class="foodCategory d-flex flex-column justify-content-center align-items-center">
                <div class="CategoryBg d-flex justify-content-center">
                    <img src="https://i.postimg.cc/brYSmzh8/Hamburger-1.png" alt="..." width="55" height="52.74"/>
                </div>
                <label class="pt-2">Burger</label>
            </div>
            <div class="foodCategory d-flex flex-column justify-content-center align-items-center">
                <div class="CategoryBg d-flex justify-content-center">
                    <img src="https://i.postimg.cc/SKNvW9Xx/Pizza.png" alt="..." width="55" height="52.74"/>
                </div>
                <label class="pt-2">Pizza</label>
            </div>
            <div class="foodCategory d-flex flex-column justify-content-center align-items-center">
                <div class="CategoryBg d-flex justify-content-center">
                    <img src="https://i.postimg.cc/rm7ZXYfD/Iced-Coffee.png" alt="..." width="55" height="52.74"/>
                </div>
                <label class="pt-2">Drink</label>
            </div>
            <div class="foodCategory d-flex flex-column justify-content-center align-items-center">
                <div class="CategoryBg d-flex justify-content-center">
                    <img src="https://i.postimg.cc/1XZ0KxWr/Cherry-Cheesecake.png" alt="..." width="55" height="52.74"/>
                </div>
                <label class="pt-2">Dessert</label>
            </div>
        </div>
    </div>
    <div class="banner col-lg-6 px-5">
        <img class="lannerImg" src="https://i.postimg.cc/QMmCBQpx/17372-Converted-1.png" alt="..."/>
    </div>
</div>
<app-aboutus></app-aboutus>
<app-menu></app-menu>
<app-customer></app-customer>
<app-contact-us></app-contact-us>
<app-footer></app-footer>