<div class="customer">
    <div class="cardData">
        <h2>Our Customer's Says</h2>
    </div>
<div id="carouselExampleInterval" class="carousel slide pt-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="carouselData d-flex justify-content-center align-content-center">
            <div>
                <div class="cardQuote px-3">
                    <div>
                        <label class="quote fs-2"><i class="fa-solid fa-quote-left"></i></label>
                    </div>
                    <p >
                        Excepteur sint occaecat cupidatat 
                        non proident, sunt in culpa qui officia 
                        deserunt mollit anim id est laborum
                    </p>
                </div>
                <div class="cardRate">
                    <img src='https://i.postimg.cc/ryjmC440/purple-user-icon.png' alt="..."/>
                    <div class="px-3">
                        <h3>John Doe</h3>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="cardQuote px-3">
                    <div>
                        <label class="quote fs-2"><i class="fa-solid fa-quote-left"></i></label>
                    </div>
                    <p >
                        Excepteur sint occaecat cupidatat 
                        non proident, sunt in culpa qui officia 
                        deserunt mollit anim id est laborum
                    </p>
                </div>
                <div class="cardRate">
                    <img src='https://i.postimg.cc/ryjmC440/purple-user-icon.png' alt="..."/>
                    <div class="px-3">
                        <h3>John Doe</h3>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="cardQuote px-3">
                    <div>
                        <label class="quote fs-2"><i class="fa-solid fa-quote-left"></i></label>
                    </div>
                    <p >
                        Excepteur sint occaecat cupidatat 
                        non proident, sunt in culpa qui officia 
                        deserunt mollit anim id est laborum
                    </p>
                </div>
                <div class="cardRate">
                    <img src='https://i.postimg.cc/ryjmC440/purple-user-icon.png' alt="..."/>
                    <div class="px-3">
                        <h3>John Doe</h3>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="carouselData d-flex justify-content-center align-content-center">
            <div>
                <div class="cardQuote px-3">
                    <div>
                        <label class="quote fs-2"><i class="fa-solid fa-quote-left"></i></label>
                    </div>
                    <p >
                        Excepteur sint occaecat cupidatat 
                        non proident, sunt in culpa qui officia 
                        deserunt mollit anim id est laborum
                    </p>
                </div>
                <div class="cardRate">
                    <img src='https://i.postimg.cc/ryjmC440/purple-user-icon.png' alt="..."/>
                    <div class="px-3">
                        <h3>John Doe</h3>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="cardQuote px-3">
                    <div>
                        <label class="quote fs-2"><i class="fa-solid fa-quote-left"></i></label>
                    </div>
                    <p >
                        Excepteur sint occaecat cupidatat 
                        non proident, sunt in culpa qui officia 
                        deserunt mollit anim id est laborum
                    </p>
                </div>
                <div class="cardRate">
                    <img src='https://i.postimg.cc/ryjmC440/purple-user-icon.png' alt="..."/>
                    <div class="px-3">
                        <h3>John Doe</h3>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="cardQuote px-3">
                    <div>
                        <label class="quote fs-2"><i class="fa-solid fa-quote-left"></i></label>
                    </div>
                    <p >
                        Excepteur sint occaecat cupidatat 
                        non proident, sunt in culpa qui officia 
                        deserunt mollit anim id est laborum
                    </p>
                </div>
                <div class="cardRate">
                    <img src='https://i.postimg.cc/ryjmC440/purple-user-icon.png' alt="..."/>
                    <div class="px-3">
                        <h3>John Doe</h3>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carouselData d-flex justify-content-center align-content-center">
            <div>
                <div class="cardQuote px-3">
                    <div>
                        <label class="quote fs-2"><i class="fa-solid fa-quote-left"></i></label>
                    </div>
                    <p >
                        Excepteur sint occaecat cupidatat 
                        non proident, sunt in culpa qui officia 
                        deserunt mollit anim id est laborum
                    </p>
                </div>
                <div class="cardRate">
                    <img src='https://i.postimg.cc/ryjmC440/purple-user-icon.png' alt="..."/>
                    <div class="px-3">
                        <h3>John Doe</h3>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="cardQuote px-3">
                    <div>
                        <label class="quote fs-2"><i class="fa-solid fa-quote-left"></i></label>
                    </div>
                    <p >
                        Excepteur sint occaecat cupidatat 
                        non proident, sunt in culpa qui officia 
                        deserunt mollit anim id est laborum
                    </p>
                </div>
                <div class="cardRate">
                    <img src='https://i.postimg.cc/ryjmC440/purple-user-icon.png' alt="..."/>
                    <div class="px-3">
                        <h3>John Doe</h3>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="cardQuote px-3">
                    <div>
                        <label class="quote fs-2"><i class="fa-solid fa-quote-left"></i></label>
                    </div>
                    <p >
                        Excepteur sint occaecat cupidatat 
                        non proident, sunt in culpa qui officia 
                        deserunt mollit anim id est laborum
                    </p>
                </div>
                <div class="cardRate">
                    <img src='https://i.postimg.cc/ryjmC440/purple-user-icon.png' alt="..."/>
                    <div class="px-3">
                        <h3>John Doe</h3>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>